<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>08:30</td>  <td>Opening + Data Science </td></tr>
      <tr> <td>11:00</td>  <td>Intro to Linux/Unix Shell</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>File, directories and completion</td> </tr>
      <tr> <td>14:00</td>  <td>Finding and Looping</td> </tr>
      <tr> <td>15:00</td>  <td>Shell Scripts</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>08:30</td>  <td>Version control with Git: Intro</td> </tr>
      <tr> <td>10:30</td>  <td>Remote Git</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Branching and merging</td> </tr>
      <tr> <td>14:30</td>  <td>Resolving conflict</td> </tr>
      <tr> <td>14:30</td>  <td>Collaborative Git</td> </tr>
    </table>
  </div>
   <div class="col-md-6">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Intro to R and Rstudio</td> </tr>
      <tr> <td>09:30</td>  <td>Data Structure</td></tr>
      <tr> <td>10:30</td>  <td>Vektor and data Frame </td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Loop and Conditional</td> </tr>
      <tr> <td>14:30</td>  <td>Creating Function</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>R visualisation</td> </tr>
      <tr> <td>10:30</td>  <td>ggplot</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Plot building</td> </tr>
      <tr> <td>14:00</td>  <td>Facet</td> </tr>
      <tr> <td>15:00</td>  <td>Scale</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 5</h3>
    <table class="table table-striped">
      <tr> <td>08:00</td>  <td>Final project explanation</td> </tr>
      <tr> <td>08:30</td>  <td>Final project, work I</td> </tr>
      <tr> <td>11:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Final project, work II</td> </tr>
      <tr> <td>15:30</td>  <td>Presentation</td> </tr>
      <tr> <td>16:00</td>  <td>Closing</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>08:30</td>  <td>Opening + Data Science </td></tr>
      <tr> <td>11:00</td>  <td>Intro to Linux/Unix Shell</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>File, directories and completion</td> </tr>
      <tr> <td>14:00</td>  <td>Finding and Looping</td> </tr>
      <tr> <td>15:00</td>  <td>Shell Scripts</td> </tr>
    </table>
  </div>
</div>
